@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7q7cjc');
  src:  url('fonts/icomoon.eot?7q7cjc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7q7cjc') format('truetype'),
    url('fonts/icomoon.woff?7q7cjc') format('woff'),
    url('fonts/icomoon.svg?7q7cjc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-cart:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-pencil2:before {
  content: "\e906";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-location2:before {
  content: "\e948";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner:before {
  content: "\e97a";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-equalizer2:before {
  content: "\e993";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-sad:before {
  content: "\e9e5";
}
.icon-wink:before {
  content: "\e9e7";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}

