header{
  background-image: url(images/header.jpg);
  background-position:100%;
  width: 100%;
  height:30%;
  position: absolute;
  top:10px;
}
header img{
  position: absolute;
  top:10%;
  left:10%;
  display: inline-block;
  width:10%;

}

input{
  position: absolute;
  top:30%;
  right:30%;
  height:35px;
  width: 600px;
  border: 1px solid #799D1C;
  box-shadow:0px 2px 2px #799D1C;
}

input:hover{
  box-shadow:0px 4px 5px #799D1C;
}

.haut {
   position: absolute;
   top:60%;
   right: 10%;
}

.haut a{
  text-decoration:none;
  display: inline-block;
  text-align: center;
  font-size:15px;
}

span{
  font-size: 45px;
  color:#799D1C;
}

span:hover{
  font-size: 55px;
}

.gauche{
  box-shadow: 2px 2px 6px;
  position: absolute;
  text-align: center;
  width:20%;
  margin-top:15%;
  margin-left:5%;
  ;
}

.gauche a{
  border: 1px solid;
  display: block;
  text-decoration: none;
  color:#799D1C;
  margin:10px;
  padding: 10px;
}

.gauche a:hover{
  background-color:#4b4b4b;
  color: white;
  box-shadow: 1px 1px 3px;
}

section.ipd{
  background-color:red;
  position: absolute;
  top:33%;
  left:30%;
  width:60%;
  height:37%;
}

section.top{;
  position: absolute;
  top:80%;
  left:30%;
  width:60%;
  height:40%;
  text-align: center;
}

h2{
  text-align: left;
}
article{
  border:0.5px;
  box-shadow: 1px 1px 3px;
  display: inline-block;
  vertical-align:top;
  width:32%;
  height:150%;
}
article:hover{
  box-shadow: 2px 2px 6px;
}

h3{
  font-size:15px;
  font-weight: bold;
}

li{
  text-decoration: none;
  font-size:10px;
}
img{
  width:200px;
  margin-top:10px;
}

footer{
  background-color: green;
  width: 100%;
  height: 15%;
}
