header{
  background-image: url(images/header.jpg);
  background-position:100%;
  width: 100%;
  height:30%;
  position: absolute;
  top:1%;
}
header img{
  position: absolute;
  top:10%;
  left:10%;
  display: inline-block;
  width:10%;
}

input{
  position: absolute;
  top:30%;
  right:30%;
  height:20%;
  width: 45%;
  border: 0.2% solid #799D1C;
  box-shadow:0px 2px 2px #799D1C;
}

input:hover{
  box-shadow:0px 4px 5px #799D1C;
}

.haut {
   position:absolute;
   top:55%;
   right:18%;
   width:900px;
   height:110px;
   text-align: center;
}

.haut a{
  text-decoration:none;
  width: 180px;
  display: inline-block;
  text-align: center;
  font-size:15px;
  margin-top:10px;
  margin-left: 10px;
  margin-right: 10px;
}

span{
  font-size: 45px;
  color:#799D1C;
}

header span:hover{
  font-size: 50px;
}

.gauche{
  box-shadow: 2px 2px 6px;
  position: absolute;
  text-align: center;
  width:20%;
  margin-top:15%;
  margin-left:5%;
}

.gauche a{
  border: 1px solid;
  display: block;
  text-decoration: none;
  color:#799D1C;
  margin:10px;
  padding: 10px;
}

.gauche a:hover{
  background-color:#4b4b4b;
  color: white;
  box-shadow: 1px 1px 3px;
}

section.ipd{
  background-color:red;
  position: absolute;
  top:33%;
  left:30%;
  width:60%;
  height:37%;
}

section.top{;
  position: absolute;
  top:80%;
  left:30%;
  width:60%;
  height:40%;
  text-align: center;
}

h2{
  text-align: left;
}

article.article{
  border:0.5px;
  box-shadow: 1px 1px 3px;
  display: inline-block;
  vertical-align:top;
  width:32%;
  height:150%;
}

article.article p{
  border: 1px solid;
  width: 60px;
  margin: auto;
}

article.article:hover{
  box-shadow: 2px 2px 6px;
}

h3{
  font-size:15px;
  font-weight: bold;
}

li{
  text-decoration: none;
  font-size:10px;
}
img{
  width:200px;
  margin-top:10px;
}

footer{
  background-color:#d4d4d4;
  position:fixed;
  bottom:0%;
  width: 100%;
  height:7%;
  text-align: center;
}

footer a{
  text-decoration:none;
  width: 180px;
  display: inline-block;
  text-align: center;
  font-size:5px;
  margin-top:5px;
  margin-left: 5px;
  margin-right: 5px;
}
footer span{
  font-size:300%;
}

/*page présentation produits*/

img{
  display: inline-block;
  width:200px;
  margin-top:10px;
}

.présentation1{
  border: 3px solid red;
  box-shadow:1% 1% 2%;
  position: absolute;
  top:33%;
  left:30%;
  width:70%;
  height:85%;
}

.produit{
  width:25%;
  text-align: center;
  text-decoration: none;
}

aside{
  position: absolute;
  top: 10%;
  width:70%;
  padding-left:27%;
}

.présentation2{
  border: 3px solid red;
  box-shadow:1% 1% 2%;
  position: absolute;
  top:120%;
  left:30%;
  width:70%;
  height:85%;

}

.présentation3{
  border: 3px solid red;
  box-shadow:1% 1% 2%;
  position: absolute;
  top:207%;
  left:30%;
  width:70%;
  height:106%;
}
