@media all and (max-width: 1024px)
{}
body{

}
header{
  background-image: url(images/header.jpg);
  background-position: center;
  background-size:100%;
  padding-top:1%;
  width: 100%;
  height:45%;
}
header h1{
  text-shadow:0px 4px 6px #799D1C;
  text-align: center;
}

header p{
  text-align: center;
  font-size:130%;
  text-shadow: 0px 4px 6px #799D1C;
}
header img{
  float: left;
  margin-top:-15%;
  margin-left:10%;
  width:20%;
}

header input{
  display: inline-block;
  margin-left:70%;
  width:20%;
  height:15%;
  border: 0.2% solid #799D1C;
  box-shadow:0px 2px 2px #799D1C;
}

input:hover{
  box-shadow:0px 4px 5px #799D1C;
}

.haut {/*navigation menu*/
   width:90%;
}

.haut a{
  text-decoration:none;
  font-weight: bold;
  width:10%;
  display: inline-block;
  text-align: center;
  font-size:90%;
}

span{
  font-size:300%;
  color:#799D1C;
}

.bas{/*navigation produits*/
  text-align: center;
  display:inline-block;
  width:90%;
  margin-top:3%;
  margin-left:5%;
}

.bas a{
  border: 1px solid;
  display: inline-block;
  text-decoration: none;
  color:#799D1C;
  margin:1%;
  padding:1%;
}

.bas a:hover{
  background-color:#4b4b4b;
  color: white;
  box-shadow: 1px 1px 3px;
}

@keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /*1ère image*/
	}
	30%, 40% {
		left: -300px; /*2ème image*/
	}
	50%, 60% {
		left: -600px; /*3ème image*/
	}
}
  70%, 80%{
    left: -900px; /*4ème image*/
  }

#slideshow {
	position: relative;
	width: 300px;
	height: 150px;
	margin:  20px auto;
	overflow: hidden;
}

#scontent li {
	display: inline;
}

#scontent {
	position: absolute;
	top: 0;
	left: 0;
	width: 400%;
	margin: 0;
	padding: 0;

	/*CSS3 keyframes animation*/
	animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

#slideshow img{
  width: 300px;
  height: 150px;
}

section.top{/*pub top des ventes*/
  margin-left:25%;
  width:60%;
  height:40%;
  text-align: center;
}

h2{
  text-align: left;
}

article.article{
  border:0.5%;
  border-radius:2% 2% 2%;
  box-shadow:2% 2% 2%;
  display: inline-block;
  vertical-align:top;
  width:32%;
}

article.article p{
  border: 1px solid;
  width:30%;
  margin: auto;
}

article.article:hover{
  box-shadow: 2px 2px 6px;
}

h3{
  font-size:15px;
  font-weight: bold;
}

li{
  text-decoration: none;
  font-size:10px;
}
img{
  width:25%;
  margin-top:2%;
}

footer{
  background-color:#d4d4d4;
  width:100%;
  display: block;

}

footer a{
  text-decoration:none;
  width:10%;
  display: inline-block;
  text-align: center;
  font-size:5px;
  margin-top:2%;
  margin-left:10%;
  margin-right:10%;

}
footer span{
  font-size:300%;
}

/*page présentation produits*/
img{
  display: inline-block;
  width:200px;
  margin-top:10px;
}

.présentation{
  box-shadow:2% 2% 4%;
  display: inline-block;
  text-align: center;
  margin-top:5%;
  width:90%;
  height:60%;
}

.produit p{
  box-shadow:2% 2% 4%;
  width:25%;
  text-align: center;
  text-decoration: none;
}

/*page contact*/
.contact{
  background-image: url(images/contact.jpg);
  margin-top:15%;
  margin-left:5%;
  width: 90%;
  height:100%;
}
.c1{
  box-shadow:4px 4px 6px #d4d4d4;
  margin-left:45%;
  margin-top:1%;
}

/*navigation*/
.maps{
  border:1% solid #d4d4d4;
  border-radius: 2% 2% 2%;
  box-shadow: 2% 2% 6%;
  width:70%;
  margin-left:20%;
}
